<!DOCTYPE html>
<html lang="en">

<head>
  <!-- bootstrap Latest compiled and minified CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<!--boostrap JS and jquery scipts to get hamburger menu in our navbar working-->

<body>
  <%- include('partials/_header') %>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    <main style="margin: 1em;">
      <h3>My Passwords</h3>
      <% for(let user in users) { %>
        <% if (value===users[user].user_id) { %>
          <% console.log("hello!: ", users[user].user_id) %>
          <div class=" password_button" dataId="<%= users[user].id %>">
            <div>
              <h5>
                <%= users[user].url %>
              </h5>
            </div>
            <div>
              <h5>
                <%= users[user].password_text %>
              </h5>
            </div>
            <div>
              <h5>
                <%= users[user].title %>
              </h5>
            </div>
            <div>
              <h5>
                <%= users[user].category %>
              </h5>
            </div>
            <div>
              <h5>
                <%= users[user].name %>
              </h5>
            </div>
            <div>
              <button class="btn btn-outline-danger remove_from_password_buttons" id="<%= users[user].id %>"
                type="submit">Delete Password</button>
            </div>
            <div>
              <button class="btn btn-outline-primary" id="<%= users[user].id %>" type="submit">Edit Password</button>
            </div>
            </div>
            <% } %>
              <% } %>
                <h3>Company Passwords</h3>
                <% for(let user in users) { %>
                  <div class="password_button_company" dataId="<%= users[user].id %>">
                    <div>
                      <h5>
                        <%= users[user].url %>
                      </h5>
                    </div>
                    <div>
                      <h5>
                        <%= users[user].password_text %>
                      </h5>
                    </div>
                    <div>
                      <h5>
                        <%= users[user].title %>
                      </h5>
                    </div>
                    <div>
                      <h5>
                        <%= users[user].category %>
                      </h5>
                    </div>
                    <div>
                      <h5>
                        <%= users[user].name %>
                      </h5>
                    </div>
                    <div>
                      <button class="btn btn-outline-danger remove_from_password_buttons" id="<%= users[user].id %>"
                        type="submit">Delete Password</button>
                    </div>
                    <div>
                      <button class="btn btn-outline-primary" id="<%= users[user].id %>" type="submit">Edit
                        Password</button>
                    </div>
                  </div>
                  <% } %>
                  <script src="../scripts/index.js"></script>
    </main>
</body>

</html>