<!DOCTYPE html>
<html lang="en">
<head>
  <!-- bootstrap Latest compiled and minified CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/index.css" type="text/css" />
<link rel="stylesheet" href="../styles/header.css" type="text/css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('partials/_header') %>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    <div id="alert_placeholder"></div>
    <main>
      <h3>My Passwords - Also shared by your companies</h3>
        <div class="flex-container">
          <% for(let user in users) { %>
            <% if (value===users[user].user_id) { %>
              <% console.log("hello!: ", users[user].user_id) %>
              <div class="personal_passwords password_card" data-id="<%= users[user].id %>">
                <div>
                  <h4>
                    <%= users[user].url %>
                  </h4>
                </div>
                <div>
                  <h5>
                    <%= users[user].name %>
                  </h5>
                </div>
                <div>
                  <h5>
                    <%= users[user].category %>
                  </h5>
                </div>
                <div class="input">
                  <input class="password_to_edit form-control" type="text" value="<%= users[user].password_text %>"
                    disabled="true">
                </div>
                <div class="button-container">
                  <button class="btn btn-outline-info copy_password">Copy</button>

                  <button class="btn btn-outline-danger remove_from_password_buttons" id="<%= users[user].id %>"
                    type="submit">Delete</button>

                  <button class="btn btn-outline-primary edit_password" id="<%= users[user].id %>" type="submit"
                    style="display:block">Edit</button>

                  <button class="btn btn-outline-secondary cancel_edits" id="<%= users[user].id %>" type="submit"
                    style="display:none">Cancel</button>

                  <button class="btn btn-outline-success submit_edits" id="<%= users[user].id %>" type="submit"
                    style="display:none">Submit</button>
                </div>
              </div>
              <% } %>
          <% } %>
        </div>
        <h3>All Company Passwords - Created by other users</h3>
        <div class="flex-container">
          <% for(let user in users) { %>
            <% if (value !== users[user].user_id) { %>
              <div class="company_passwords password_card" data-id="<%= users[user].id %>">
                <div>
                  <h4>
                    <%= users[user].url %>
                  </h4>
                </div>
                <div>
                  <h5>
                    <%= users[user].name %>
                  </h5>
                </div>
                <div>
                  <h5>
                    <%= users[user].category %>
                  </h5>
                </div>
                <div class="input">
                  <input class="password_to_edit_company form-control"  type="text" value="<%= users[user].password_text %>"
                    disabled="true"></input>
                </div>
                <div class="button-container">
                  <button class="btn btn-outline-info copy_password_company">Copy</button>

                  <button class="btn btn-outline-danger remove_from_password_buttons_company"
                    id="<%= users[user].id %>" type="submit">Delete</button>

                  <button class="btn btn-outline-primary edit_password_company" id="<%= users[user].id %>"
                    type="submit" style="display:block">Edit</button>

                  <button class="btn btn-outline-secondary cancel_edits_company" id="<%= users[user].id %>"
                    type="submit" style="display:none">Cancel </button>

                  <button class="btn btn-outline-success submit_edits_company" id="<%= users[user].id %>"
                    type="submit" style="display:none">Submit</button>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
      <script src="../scripts/index.js"></script>
  </main>
</body>
</html>
