<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>passwordKeepR</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/styles/password_layout.css">
  <link rel="stylesheet" href="../styles/header.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
</head>
<body>
  <%- include('partials/_header') %>
    <main id='passwordPoster'>
      <button class="btn btn-outline-primary menuButton" id="genpass">Generate Random</button>
      <button class="btn btn-outline-secondary menuButton" id="ownpass">Type Own Password</button>
      <section id="pwordLenRange" class="formCard" style="display:none">
        <h5 class="headerText">Generate Random Password</h5>
        <label for="orgName" class="formLabel">Organization Name:</label>
        <select name="orgName" id="orgName" class="selectPopDown form-control">
          <% for (let org of organisations) { %>
            <% orgName = org.name; %>
            <option value='<%= orgName %>'>
              <%= orgName; %>
            </option>
          <% }; %>
        </select>
        <br>
        <label for="urlInput" class="formLabel">URL:</label>
        <input type="text" name="urlInput" id="urlInput" class="form-control">
        <br>
        <label for="catName" class="formLabel">Category:</label>
        <select name="catName" id="catName" class="selectPopDown form-control">
          <option value="work related form-control">Work Related</option>
          <option value="social form-control">Social Media</option>
          <option value="entertainment form-control">Entertainment</option>
        </select>
        <br>
        <label for="passwordLength" class="formLabel">Password Length:</label>
        <input type="range" name="passwordLength" id="passwordLength" min="10" max="40" value="20" step="1" class="rangeStyling"><span id ='slider_value' class="counterText">20</span>
        <br>
        <div id="pwordOptions" style="display:none">
          <label for="upperCaseCheck" class="formLabel">Uppercase</label>
          <input type="checkbox" name="upperCaseCheck" id="upperCaseCheck">
          <label for="lowerCaseCheck" class="formLabel">Lowercase</label>
          <input type="checkbox" name="lowerCaseCheck" id="lowerCaseCheck" class="smallLetters">
          <br>
          <label for="numbersCheck" class="formLabel">Numbers</label>
          <input type="checkbox" name="numbersCheck" id="numbersCheck">
          <label for="symbolsCheck" class="formLabel">Symbols</label>
          <input type="checkbox" name="symbolsCheck" id="symbolsCheck">
          </br>
          <button class="btn btn-outline-success remove_from_password_buttons menuButton" id="pwordSubmission">
              Generate Password
          </button>
        </div>
      </section>
      <section id="pwordLenRange2" style="display:none" class="formCard">
        <h5 class="headerText">Type Your Own Password</h5>
        <label for="orgName" class="formLabel">Organization Name:</label>
        <select name="orgName" id="orgName2" class="form-control selectPopDown">
          <% for (let org of organisations) { %>
            <% orgName = org.name; %>
            <option value='<%= orgName %>'>
              <%= orgName; %>
            </option>
          <% }; %>
        </select>
        <br>
        <label for="urlInput" class="formLabel">URL:</label>
        <input type="text" name="urlInput" id="urlInput2" class="form-control">
        <br>
        <label for="catName" class="formLabel">Category:</label>
        <select name="catName" id="catName2" class="form-control selectPopDown">
          <option value="work related" class="form-control">Work Related</option>
          <option value="social" class="form-control">Social Media</option>
          <option value="entertainment" class="form-control">Entertainment</option>
        </select>
        <br>
        <label for="passwordField" class="formLabel">Password:</label>
        <input type="text" name="passwordField" id="passwordField2" class="form-control"><button id="generate" class="btn btn-secondary menuButton">?</button>
        <br>
        <button class="btn btn-outline-success remove_from_password_buttons menuButton" id="pwordSubmission2">
            Generate Password
        </button>
      </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="../scripts/password_helper_script.js"></script>
</body>
</html>
