<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>passwordKeepR</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
  <%- include('partials/_header') %>
    <main id='passwordPoster'>
      <section id="pwordLenRange">
        <h5>GENERATE RANDOM PASSWORD</h5>
        <label for="orgName">Organization Name:</label>
        <select name="orgName" id="orgName">
          <% for (let org of organisations) { %>
            <% orgName = org.name; %>
            <option value='<%= orgName %>'>
              <%= orgName; %>
            </option>
          <% }; %>
        </select>
        <br>
        <label for="urlInput">URL:</label>
        <input type="text" name="urlInput" id="urlInput">
        <br>
        <label for="catName">Category:</label>
        <select name="catName" id="catName">
          <option value="work related">Work Related</option>
          <option value="social">Social Media</option>
          <option value="entertainment">Entertainment</option>
        </select>
        <br>
        <label for="passwordLength">Password Length:</label>
        <input type="range" name="passwordLength" id="passwordLength" min="10" max="40" value="20" step="1"><span id ='slider_value'>20</span>
        <br>
      </section>
      <section id="pwordOptions">
        <label for="">Uppercase</label>
        <input type="checkbox" name="upperCaseCheck" id="upperCaseCheck">
        <label for="lowerCaseCheck">Lowercase</label>
        <input type="checkbox" name="lowerCaseCheck" id="lowerCaseCheck" class="smallLetters">
        <br>
        <label for="numbersCheck">Numbers</label>
        <input type="checkbox" name="numbersCheck" id="numbersCheck">
        <label for="">Symbols</label>
        <input type="checkbox" name="symbolsCheck" id="symbolsCheck">
      </section>
      <section>
        <button class="btn btn-outline-success remove_from_password_buttons" id="pwordSubmission">
            Generate Password
        </button>
      </section>
      <section id="pwordLenRange">
        <h5>TYPE YOUR OWN PASSWORD</h5>
        <label for="orgName">Organization Name:</label>
        <select name="orgName" id="orgName2">
          <% for (let org of organisations) { %>
            <% orgName = org.name; %>
            <option value='<%= orgName %>'>
              <%= orgName; %>
            </option>
          <% }; %>
        </select>
        <br>
        <label for="urlInput">URL:</label>
        <input type="text" name="urlInput" id="urlInput2">
        <br>
        <label for="catName">Category:</label>
        <select name="catName" id="catName2">
          <option value="work related">Work Related</option>
          <option value="social">Social Media</option>
          <option value="entertainment">Entertainment</option>
        </select>
        <br>
        <label for="passwordField">Password:</label>
        <input type="text" name="passwordField" id="passwordField2"><button id="generate">?</button>
        <br>
      </section>
      <section>
        <button class="btn btn-outline-success remove_from_password_buttons" id="pwordSubmission2">
            Generate Password
        </button>
      </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="../scripts/password_helper_script.js"></script>
</body>

</html>
